In [1]:
import pandas as pd 
import sys
import importlib
#* 导入所需要的包
sys.path.append("/public/home/zpliu/Pan-genome/SV_parallele_V2/")
from microRearrange.get_microRearrange import getMicroSyntenicRegion 
import microRearrange.get_microRearrange
#* 修改代码
importlib.reload(microRearrange.get_microRearrange)
from microRearrange.get_microRearrange import getMicroSyntenicRegion

In [2]:
#* 共线性文件
halSyntenyFile='./test.bed'
halSynteny=pd.read_csv(
    halSyntenyFile,
    header=None,index_col=None,sep="\t"
)

In [5]:
halSynteny

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,2438,20693,0,0,14,220,18,35,++,A01,...,1579500,1602851,A01,120886329,1418916,1442082,33,"2903,3519,1363,14,114,14,620,22,216,184,265,10...","1579500,1582403,1585922,1587285,1587301,158741...","1418916,1421820,1425340,1426706,1426720,142683..."

In [3]:
#* 获取指定共线性区域的微重排
microRearrange=getMicroSyntenicRegion( 
    halSynteny,
    "A01",1579500,1602851,
    "query"
)
microRearrange=pd.DataFrame(microRearrange)
microRearrange[7]=microRearrange.apply(lambda x:x[2]-x[1]+1,axis=1)
microRearrange[8]=microRearrange.apply(lambda x:x[5]-x[4]+1,axis=1)
microRearrange.shape

(33, 9)

In [10]:
microRearrange

      0        1        2    3        4        5   6     7     8
0   A01  1579500  1582402  A01  1418916  1421819  ++  2903  2904
1   A01  1582403  1585921  A01  1421820  1425339  ++  3519  3520
2   A01  1585922  1587284  A01  1425340  1426705  ++  1363  1366
3   A01  1587285  1587300  A01  1426706  1426719  ++    16    14
4   A01  1587301  1587414  A01  1426720  1426834  ++   114   115
5   A01  1587415  1587429  A01  1426835  1426848  ++    15    14
6   A01  1587430  1588050  A01  1426849  1427468  ++   621   620
7   A01  1588051  1588074  A01  1427469  1427490  ++    24    22
8   A01  1588075  1588292  A01  1427491  1427706  ++   218   216
9   A01  1588293  1588476  A01  1427707  1427891  ++   184   185
10  A01  1588477  1588741  A01  1427892  1428157  ++   265   266
11  A01  1588742  1588843  A01  1428158  1428260  ++   102   103
12  A01  1588844  1589732  A01  1428261  1429138  ++   889   878
13  A01  1589733  1589881  A01  1429139  1429152  ++   149    14
14  A01  1589882  1592867  A01  1429153  1432136  ++  2986  2984
15  A01  1592868  1596265  A01  1432137  1435540  ++  3398  3404
16  A01  1596266  1599358  A01  1435541  1438634  ++  3093  3094
17  A01  1599359  1600455  A01  1438635  1439678  ++  1097  1044
18  A01  1600456  1600900  A01  1439679  1440124  ++   445   446
19  A01  1600901  1601318  A01  1440125  1440543  ++   418   419
20  A01  1601319  1601561  A01  1440544  1440787  ++   243   244
21  A01  1601562  1601868  A01  1440788  1441093  ++   307   306
22  A01  1601869  1602149  A01  1441094  1441375  ++   281   282
23  A01  1602150  1602342  A01  1441376  1441571  ++   193   196
24  A01  1602343  1602386  A01  1441572  1441614  ++    44    43
25  A01  1602387  1602426  A01  1441615  1441649  ++    40    35
26  A01  1602427  1602491  A01  1441650  1441715  ++    65    66
27  A01  1602492  1602542  A01  1441716  1441763  ++    51    48
28  A01  1602543  1602721  A01  1441764  1441944  ++   179   181
29  A01  1602722  1602764  A01  1441945  1441995  ++    43    51
30  A01  1602765  1602776  A01  1441996  1442006  ++    12    11
31  A01  1602777  1602801  A01  1442007  1442032  ++    25    26
32  A01  1602802  1602851  A01  1442034  1442082  ++    50    49

In [9]:
microRearrange[8].sum()

23166